
  <h1>In-Depth Gallery</h1>

 <!-- <link rel="stylesheet" href="../style.css"> -->

  
<!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet"/>
<link rel="stylesheet" 
href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

  <div class="simple_gallery">
    <img class="gallery-bg" src="../../assets/galpix1.jpg" alt="gal" />
    <a href="#">
        <img src="../../assets/galpix3.jpg" />
        <span><img src="../../assets/galpix3.jpg"/></span>
    </a>

    <a href="#">
        <img src="../../assets/galpix2.jpg" />
        <span><img src="../../assets/galpix2.jpg"  /></span>
    </a>

    <a href="#">
        <img src="../../assets/galpix7.jpg" />
        <span><img src="../../assets/galpix7.jpg" /></span>
    </a>

    <a href="#">
        <img src="../../assets/galpix5.jpg" />
        <span><img src="../../assets/galpix5.jpg" /></span>
    </a>
</div>
