<header>
    <!-- <div class="topnav" id="navBar"> -->
       
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
              <img src="../../assets/finalCa.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="navbar-collapse collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto" id="navbarNav">
          <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/news">News</a></li>
          <li><a class="nav-link" routerLink="/reviews">Reviews</a></li>
          <li><a class="nav-link" routerLink="/gallery">Gallery</a></li>
          <li><a class="nav-link" routerLink="/forum">Forum</a></li>
          <li><a class="nav-link" routerLink="/about">About Us</a></li>
          <!--li><a href="javascript:void(0);" class="icon" onclick="responsiveNavBar();"><i class="bars"></i></a></li-->
        </ul>
          </div>
      </nav>
    <!-- </div> -->
  </header>