/* You can add global styles to this file, and also import other style files */

*{
	margin: 0;
	padding: 0;
}


/**** Slider ****/
#slider{
	width: 100%;
}

.carousel-caption{
	top: 30%;
/*	transform: translateY(10%);
	transform: translateX(-10%);*/
	bottom: initial!important;
}

.carousel-caption h5 {
	color: #C9FFFF;
	font-size: 42px;
}

.simple_gallery {
        height:  571px;
        width: 1255px;
        position: relative;
        margin: 0 ;
	margin-left: auto;
	margin-right: 20px;
	   margin-top: 50px;
	
    }
    /* First displayed image */
    .gallery-bg {
        display: block;
        margin-left: 35px;
		
        position: absolute;
	
		left: 50px;
    }
    .simple_gallery img {
        border: 2px solid #f2f2f2;
        -webkit-box-sizing: initial;
        -moz-box-sizing: initial;
        box-sizing: initial;
		height: 500px;
        width: 850px;
		margin-left: 35px;
    }
    /* Thumbnails */
    .simple_gallery a > img {
        margin-bottom: 6px;
        float:right;
        width: 160px;
        height: 100px;
        display: block;
        clear: both;
		
    }
 
    /* Large rollover image styles */
    .simple_gallery span{
        visibility:hidden;
        position:absolute;
        
        left:-1000px;    /* prevents the browser to show scroll bar at bottom*/
    }
    .simple_gallery a:link span, .simple_gallery a:visited span, .simple_gallery a:active span {
        visibility:hidden;
    }
    .simple_gallery a:hover span{
        /*CSS for enlarged image*/
        visibility: visible;
        position: absolute;
        left: 15px;
        /*position where enlarged image is placed horizontally */
        top: 0;
        z-index: 50;
		margin-left: 35px;
		width: 850px;
        height: 500px;
    }

/*#para1 img{
	width: 600px;
	height: 400px;
	margin-top: 5px;
	margin-left: 5px;
	
	
margin-right: -5px;
	
} */

.left {
	
 float: left;
 padding: 0 20px 20px 0;
	width: auto;
	height: auto;
	max-width: 610px;
	margin-top: 5px;
	/*margin-left: 5px;*/
}

.headpara2 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-family:"delius-swash-caps";
	color:darkred;
	font-weight: 600;
}

.head2 {
	margin-top: 10px;
}

/*.text1 {
	position: fixed;
}*/
